.raleway-600 {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600; /* Thin weight */
    font-style: normal;
  }
  
  .raleway-800 {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800; /* Extra light weight */
    font-style: normal;
  }